[submodule "Simulator/3rdParty/cmake-git-version-tracking"]
	path = Simulator/3rdParty/cmake-git-version-tracking
	url = https://github.com/andrew-hardin/cmake-git-version-tracking.git
[submodule "Simulator/3rdParty/polyscope"]
	path = Simulator/3rdParty/polyscope
	url = https://github.com/nmwsharp/polyscope.git
